server:
  port: 8080
  servlet:
    context-path: /booking

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/StudyBuildIdentity"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    openai:
      api-key: ${GEMINI_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash
  data:
    redis:
      host: localhost
      port: 6379

jwt:
  signerKey: ${JWT_KEY}
  valid-duration: 3600
  refreshable-duration: 36000

